* {
    box-sizing: border-box;
}

body {
    /* background-color: ghostwhite; */
    font-family: "Bebas Neue", cursive;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 85px;
    border: 1px solid;
}

.modal {
    position: fixed;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.formUpload {
    margin-top: 100px;
    background-color: pink;
    height: 200px;
    width: 500px;
    border-radius: 12px;
    box-shadow: 0px 5px 10px 0px black;
    text-align: center;
}

#submitPic {
    outline: none;
    border: none;
    height: 40px;
    background-color: #72767d;
    border-radius: 5px;
    color: #ffffff;
    font-size: 20px;
}

#closeBtn {
    background-color: #72767d;
    width: 50px;
    height: 50px;
    color: white;
    padding: 12px;
    font-size: 20px;
    border: 1px solid white;
    position: absolute;
    right: 340px;
    top: 40px;
    text-align: center;
    border-radius: 50%;
    opacity: 0.6;
    transition: opacity 100ms;
}

#closeBtn:hover {
    opacity: 1;
    cursor: pointer;
}

.nav-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-wrapper div {
    display: flex;
    height: 100%;
    align-items: center;
    cursor: pointer;
    padding: 12px;
}

.results-wrapper {
    position: absolute;
    top: 70px;
    width: 100%;
    overflow: scroll;
    height: 300px;
    z-index: 10;
}

.find-people-search {
    display: flex;
    position: relative;

    /* flex-direction: column; */
    align-items: center;
}

.hidden-results {
    visibility: hidden;
}

.results {
    background-color: rgb(219, 208, 208);

    border: 1px solid;
}

.search-button {
    background: transparent;
    border: none;
    outline: none;
    position: absolute;
    top: 30px;
    margin-left: -33px;
}

.search-button img {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.searchbar {
    outline: none;
    border: none;
    height: 30px;
    width: 250px;
    padding: 12px;
    border: 1px solid gray;
    border-radius: 25px;
    z-index: 10;
}

input:focus {
    outline: 7px solid rgb(6, 127, 202);
    transition: all 200ms;
}

.finded-users-search-bar {
    display: flex;
    gap: 5px;
}

.finded-users-search-bar img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.finded-users {
    display: flex;
    gap: 5px;
    border-radius: 5px solid;
}

.finded-users img {
    height: 40px;
    width: 40px;
}

.select-list {
    position: relative;
    display: flex;
    border: 1px solid gray;
}

.select-list img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.header-list-menu {
    position: absolute;
    top: 85px;
    right: 35px;
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 300px;
    border: 2px solid;
    background-color: beige;
}

.inbox-wrapper {
    display: flex;
    justify-content: space-between;
    height: 400px;
}

.msg-container,
.private-msg-container {
    display: flex;
    border-top: 1px solid;
    align-items: center;
}

.private-msg-container {
    width: 100%;
}

.chat-wrapper {
    overflow: scroll;
}

.chatroom-wrapper {
    /* width: 250px; */
    height: 300px;
    overflow: scroll;
}

.chat-inpBtn input {
    outline: none;
    border: none;
    height: 30px;
    width: 250px;
    padding: 12px;
    border: 1px solid gray;

    border-radius: 25px;
    z-index: 10;
}

.private-msgs-wrapper {
    width: 350px;
    overflow: scroll;
    border: 1px solid pink;
}

.msg-container img,
.private-msg-container img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.msg-details,
.private-msg-details {
    display: flex;
    flex-direction: column;
}

.artist-post-wrapper {
    display: flex;
    flex-direction: column;
}

.form-artist-wrapper {
    display: flex;
    flex-direction: column;

    gap: 10px;
}

.form-artist-wrapper input {
    outline: none;
    border: none;
    height: 30px;
    width: 250px;
    padding: 12px;
    border: 1px solid gray;
    border-radius: 25px;
    z-index: 10;
}

#submitReg {
    padding: 7px;
    outline: none;
    border: none;
    width: 120px;
    border-radius: 12px;
    color: white;
    cursor: pointer;
    background: linear-gradient(to right, #ff4b2b, #ff416c);
}

.profile-card-main {
    position: relative;
    width: 300px;
    border: 1px solid yellowgreen;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.finded-users {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.profile-card-main img {
    height: 400px;
    width: 250px;
}

.profile-card-main-btn {
    outline: none;
    border: none;
    width: 160px;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    padding: 5px;
    background: linear-gradient(to right, #ff4b2b, #ff416c);
}

.hidden {
    visibility: hidden;
}

.active {
    visibility: visible;
}

.tags-in-profile {
    border: 1px solid;
    border-radius: 20px;
    background-color: #ff4b2b;
    padding: 0 6px 0 6px;
}

.tags-profile-wrapper {
    display: flex;
    gap: 5px;
}

.tags-selection {
    display: flex;
    gap: 10px;
}

.tags-single {
    border: 1px solid;
    background-color: #ff416c;
    border-radius: 20px;
    padding: 0 12px;
}

.new-artists-wrapper {
    display: flex;
    gap: 8px;
}

.hoverNselect-tag {
    cursor: pointer;
}

.links-container {
    display: flex;
}

.links-container img {
    height: 35px;
    width: 200px;
}

.heart {
    position: relative;
    width: 40px;
    height: 40px;
    /* -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg); */
    transform: rotate(45deg);
    background-color: red;
}
.heart:before,
.heart:after {
    position: absolute;
    width: 40px;
    height: 40px;
    content: "";
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background-color: red;

    /* background-color: rgba(250,184,66, 1); */
}
.heart:before {
    bottom: 0px;
    left: -20px;
}
.heart:after {
    top: -20px;
    right: 0px;
}

.nofav {
    background-color: antiquewhite;
}
.nofav:before,
.nofav:after {
    background-color: antiquewhite;
}

.fav-heart {
    z-index: 5;
    position: absolute;
    right: -20px;
    top: 18px;
    height: 200px;
    width: 200px;
    cursor: pointer;
}

.fav-heart:hover {
    background-color: aqua;
}

.rating span {
    cursor: pointer;
}

.rating span:hover ~ span {
    cursor: pointer;
    color: #c7c7c7;
}

.clickedstar {
    color: rgb(212, 180, 0);
}
